:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8b5cf6;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--light);
  color: #ffffff;
  background-color: #ffffff;
}

.container {
  width: 800px;
  margin: 0 auto;
}

header {
  padding: 2rem 1rem;
  width: 100%;
  margin: 0 auto;
  background-color: royalblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5rem;
  font-size: 300;
  margin-bottom: 1rem;
  color: #ffffff; 
  text-align: center;
}

#new-task-form {
  display: flex;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: #ffffff;
  padding: 1rem;
  color: var(--gray);
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: var(--gray);
}

#new-task-submit {
  font-size: 28px;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
  width: 80px;
  height: 60px;
  background-color: rgb(221, 221, 221);
}

#new-task-submit:hover {
  opacity: 0.7;
}

#new-task-submit:active {
  opacity: 0.5;
}

main {
  flex: 1 1 0%;
  padding: 1rem 0;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
  min-height: 450px;
  margin-top: 10px;
  max-height: fit-content;
}

.task-list h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #293a41;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  border: 1px solid lightgrey;
}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .task .content .text {
  color: rgb(128, 128, 128);
  font-size: 1.125rem;
  display: block;
  width: 100%;
  transition: 0.4s;
}

.task .task .content .text:not(:read-only) {
  color: rgb(220, 20, 60);
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.7;
}

.task .actions button:active {
  opacity: 0.5;
}

.task .actions .edit {
  color: rgb(180, 180, 180);
}

.task .actions .delete {
  color: rgb(220, 20, 60);
}

#tasks .task:nth-child(2n) {
	background: #f5f5f5;
}